version: '3. 8'

services:
  builder:
    build:
      context: .
      dockerfile: Dockerfile.txt
    volumes:
      - ./dist:/dist
    command: sh -c "cp /traefik-plugin-blockip /dist/ && cp /.traefik.yml /dist/ && cp /manifest.yaml /dist/"

  traefik:
    image: traefik:v3.0
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints. web.address=:80"
      - "--experimental.plugins.blockip.modulename=github.com/intaacopilot/traefik-plugin-blockip"
      - "--experimental. plugins.blockip.version=2.0.0"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - builder

  demo-app:
    image: nginx:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.demo. rule=Host(`demo.local`)"
      - "traefik.http.routers.demo.entrypoints=web"
      - "traefik.http. middlewares.blockip.plugin.blockip.blockedCIDRs=192.168.0.0/16"
      - "traefik. http.middlewares.blockip. plugin.blockip.statusCode=403"
      - "traefik.http. routers.demo.middlewares=blockip"